/AreaDeJogo.class
/Avancado.class
/Controlador.class
/Defesa.class
/Equipa.class
/Eventos.class
/Events.class
/FootballManagerApp.class
/Formacao.class
/Game.class
/GuardaRedes.class
/Jogador.class
/Jogo.class
/Lateral.class
/Medio.class
/Player.class
/Team.class
/substituicaoInvalidaException.class
/teste.class
/Novo.class
